<mat-card class="example-card container">
    <div>
        <mat-checkbox class="checkbox-margin"></mat-checkbox>
    </div>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>A K Medico</mat-card-title>
        <mat-card-subtitle>Medicine</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Mehta Building, 55/62, Biplabi Rash Behari Bose Road, Kolkata GPO, Kolkata
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button><span class="iconify" data-icon="mdi:whatsapp"></span> WhatsApp</button>
        <button mat-button>
            <mat-icon>perm_phone_msg</mat-icon> Call
        </button>
    </mat-card-actions>
</mat-card>