
<div class="example-conatiner" >
    <h3>Welcome {{username}}</h3>
    <!--Login-->    
    <div class="example-conatiner" >
        <mat-label>What do you want to do today</mat-label>
    </div>
    <div class="example-conatiner" >
        <button mat-button color="primary" (click)="onViewProfile()">View Profile</button>
    </div>
    <div class="example-conatiner" >
    
        <button mat-button color="primary" (click)="onEditProfile()">Edit Profile</button>                
    </div>
    <div class="example-conatiner" >
            <button mat-button color="primary" (click)="onViewActivities()">View my Activities</button>
    </div>
            
    
</div>